---
layout: page
title: About
subtitle: 你我从未认识自己，也从未认识对方。
permalink: /about/
---

<h2>About this Blog</h2>
<p> 我不是一个喜欢说话的人，也不是个爱表现的人，但我是个喜欢表达的人。我对这个世界有很多理解，有很多想法，都想让所有人都知道。可每当我和别人接触过后，大多数人都说我太沉默，难交流。确实，那是因为我不想和你交流，在这说句对不起。很多时候我脑子里想什么就说什么，不想说什么就一句也不说，因此也经常看起来不友善，但我愿意和任何人做朋友，我希望能和你们交流，哪怕你不了解我，哪怕我不喜欢你。总之，我在这里写东西，表达我的想法，希望你们能看到。</p>
<p>我不给别人展示我的文章，也不考虑我的写作水平，我考虑我的思想与表达。
<p>我希望得到你们的评价，哪怕是坏的我也一样接受，我不修改文章内容，但我会尽力帮助大家看到最好的文章。
<p>总之，这是我的想法，这博客只是为了我，为了我能更好的连接世界。我也希望你们会喜欢它。
	<p><ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li>
	</ul></p>

<h2>About me</h2>
<p>吴望言Waking up. </p>
<p>自我要求型完美主义者。</p>
<p>联系请邮件，谢谢。</p>
    <p><ul class="about-list">
		<!--<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>  -->
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
