<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            HTML/CSS/JS
        </div>
        <div class="progress">
            <span class="yellow" style="width: 30%;"></span>
        </div>
    </div>
    <!--<div class = "item">
        <div class = "describe">
            C/C++
        </div>
        <div class="progress">
            <span class="green" style="width: 30%;"></span>
        </div>
    </div>-->
    <div class = "item">
        <div class = "describe">
            WEB SECURITY
        </div>
        <div class="progress">
            <span class="green" style="width: 40%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PHOTOSHOP
        </div>
        <div class="progress">
            <span class="blue" style="width: 45%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="red" style="width: 65%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            SOCCER
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PYTHON
        </div>
        <div class="progress">
            <span class="grey" style="width: 50%;"></span>
        </div>
    </div>
</section>
